<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Page</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="h-screen bg-gradient-to-b from-orange-100 to-rose-300 flex flex-col items-center gap-8 text-rose-500">
        <h1 class="text-6xl ">404 - Page not found</h1>
        <p>The page you requested was not found</p>
        <a class="underline text-blue-500" href="/">Go back to main</a>
    </body>
</html>